/*
<div class="form">
  <label>Email</label>
  <div class="form-wrapper">
    <div form-prefix>
      <svg width="24px" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="m19 4.9c-1.9-1.9-4.4-2.9-7.1-2.9-2.7 0-5.2 1-7.1 2.9-1.9 1.9-2.9 4.4-2.9 7.1 0 2.7 1 5.2 2.9 7.1 1.9 1.9 4.4 2.9 7.1 2.9 1.3 0 2.7-0.26 3.9-0.79l-0.48-1.1c-1.1 0.46-2.2 0.69-3.4 0.69-4.8 0-8.8-3.9-8.8-8.8 0-4.8 3.9-8.8 8.8-8.8 4.8 0 8.8 3.9 8.8 8.8 0 2.1-1.3 3.1-2.5 3.1-1.2 0-2.5-0.96-2.5-3.1 0-2.1-1.7-3.7-3.7-3.7-2.1 0-3.7 1.7-3.7 3.7 0 2.1 1.7 3.7 3.7 3.7 1.2 0 2.3-0.59 3-1.5 0.18 0.35 0.4 0.67 0.66 0.95 0.69 0.72 1.6 1.1 2.6 1.1 0.99 0 1.9-0.4 2.6-1.1 0.75-0.79 1.1-1.9 1.1-3.2 0-2.7-1-5.2-2.9-7.1zm-7.1 9.6c-1.4 0-2.5-1.1-2.5-2.5s1.1-2.5 2.5-2.5 2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5z"/>
      </svg>
    </div>

    <input type="text" required placeholder="Email ID">
  </div>
</div>
*/

.form {
  label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 4px;
    padding-left: 2px;
  }

  .form-wrapper {
    width: 100%;
    padding: 6px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    background: #F6F7F9;
    color: var(--color-cloud);
  }

  input, select, textarea {
    flex: 1 1 100%;
    height: 36px;
    display: inline-block;

    border: none;
    outline: none;

    font-size: 1em;
    background-color: transparent;
  }

  select {
    appearance: none;
  }

  select[readonly] {
    touch-action: none;
    pointer-events: none;
  }

  ::placeholder {
    color: #c7c7c7;
  }

  .form-demonstration {
    flex: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }

  *[form-prefix] {
    @extend .form-demonstration;
    padding-right: 8px;
  }

  *[form-prefix] {
    @extend .form-demonstration;
    padding-left: 8px;
  }
}