.page-content {
  overflow: hidden;
  padding: 16px 24px;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  flex-direction: row;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-padding: 0px 36px;
  scroll-snap-type: x mandatory;

  pointer-events: auto;

  margin: 0 -24px;
  padding: 0 24px;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100px;
    min-width: 100px;
    margin-right: 10px;

    scroll-snap-align: start;

    &:last-child {
      margin-right: 0;
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    padding: 1px;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #FF30A0 0deg, #FF4E98 93deg,
      #FF2D9E 183deg,
      #FF28C7 270deg,
      #FF02E6 360deg
    );

    img {
      border: 2px solid #fff;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin-top: 4px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.card {
  width: 100%;
  height: 100%;
  min-height: 300px;
  position: relative;

  border-radius: 16px;
  background: var(--background-color);
  box-shadow: 0px 10px 20px rgba(35, 35, 39, 0.03);

  .user-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
    background-color: #f5f5f5;

    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-info {
    left: 16px;
    right: 16px;
    bottom: 16px;
    z-index: 1;
    position: absolute;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(4px);
    background: rgba(150, 150, 150, 0.5);

    color: #fff;
    padding: 8px 16px;
  }

  .select-button {
    color: var(--color-cloud);
    background-color: #fff;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

$ring-padding: 8px;

.ring-button {
  @extend .flex-center;
  width: 100px;
  height: 100px;
  position: relative;

  .ring {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffdfee;
  }

  .ring:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  .ring:nth-child(2) {
    width: 84px;
    height: 84px;
  }

  button {
    width: 70px;
    height: 70px;
    line-height: 50px;

    color: #fff;
    background-color: var(--color-fuschia);

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

section {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}