.page-content {
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;

  button {
    width: 100%;
    margin-top: 1rem;
  }
}

.top-content,
.bottom-content,
.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bottom-content {
  margin-top: 1rem;
}

.illustration {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  margin-bottom: 1rem;
}

.form-message {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  color: var(--color-cloud);
}

.form-message.error {
  color: #ff3d3d;
}