.page {
  margin-top: 0;
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;

  .header {
    margin-top: 0;
    margin-bottom: 0;
  }

  button {
    margin: 0;
    padding: 2px 8px;
  }
}

.detail {
  .row {
    width: 100%;
    overflow: hidden;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      width: 24px;
      height: 24px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content {
      overflow: hidden;
      flex: 1 1 100%;
      padding-left: 12px;
    }
  }

  .row:not(:last-child) {
    margin-bottom: 12px;
  }
}

.send {
  width: 100%;
  margin-top: 24px;
}