.container {
  width: 100%;
  height: 100%;
  padding: 24px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.not-found {
  color: var(--color-fuschia);
  margin-bottom: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .text {
    font-size: 100px;
  }

  .icon {
    width: 160px;
    height: 160px;
    margin: 0 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    position: relative;

    svg {
      width: 80px;
      height: 80px;
      fill: var(--color-fuschia);
    }

    .ripple {
      position: absolute;
      border-radius: 50%;

      background-image: radial-gradient(
        rgba(255, 188, 217, 0.1),
        rgba(255, 188, 217, 0.15)
      );
    }

    .ripple:nth-child(1) {
      width: 160px;
      height: 160px;
    }

    .ripple:nth-child(2) {
      width: 120px;
      height: 120px;
      top: 20px;
      left: 20px;
    }

    .ripple:nth-child(3) {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 40px;
    }
  }
}

h1 {
  text-align: center;
  color: var(--color-cloud);
  font-size: 20px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 1rem;
}

button {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
}