<div class="page">
  <div class="page-header">
    <ion-menu-toggle>
      <button icon-button ripple="#dcdcdc">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m8.2 3h-2.3a3 3 0 0 0-3 3v2.3a3 3 0 0 0 3 3h2.3a3 3 0 0 0 3-3v-2.3a3 3 0 0 0-3-3zm1.5 5.3a1.5 1.5 0 0 1-1.5 1.5h-2.3a1.5 1.5 0 0 1-1.5-1.5v-2.3a1.5 1.5 0 0 1 1.5-1.5h2.3a1.5 1.5 0 0 1 1.5 1.5z"/>
          <path d="m18 3h-2.3a3 3 0 0 0-3 3v2.3a3 3 0 0 0 3 3h2.3a3 3 0 0 0 3-3v-2.3a3 3 0 0 0-3-3zm1.5 5.3a1.5 1.5 0 0 1-1.5 1.5h-2.3a1.5 1.5 0 0 1-1.5-1.5v-2.3a1.5 1.5 0 0 1 1.5-1.5h2.3a1.5 1.5 0 0 1 1.5 1.5z"/>
          <path d="m8.2 13h-2.3a3 3 0 0 0-3 3v2.2a3 3 0 0 0 3 3h2.3a3 3 0 0 0 3-3v-2.2a3 3 0 0 0-3-3zm1.5 5.2a1.5 1.5 0 0 1-1.5 1.5h-2.3a1.5 1.5 0 0 1-1.5-1.5v-2.2a1.5 1.5 0 0 1 1.5-1.5h2.3a1.5 1.5 0 0 1 1.5 1.5z"/>
          <path d="m18 13h-2.3a3 3 0 0 0-3 3v2.2a3 3 0 0 0 3 3h2.3a3 3 0 0 0 3-3v-2.2a3 3 0 0 0-3-3zm1.5 5.2a1.5 1.5 0 0 1-1.5 1.5h-2.3a1.5 1.5 0 0 1-1.5-1.5v-2.2a1.5 1.5 0 0 1 1.5-1.5h2.3a1.5 1.5 0 0 1 1.5 1.5z"/>
        </svg>
      </button>
    </ion-menu-toggle>

    <div class="page-title">
      Profile
    </div>

    <div style="width:40px;"></div>
  </div>

  <div class="page-content">
    <section class="user-info">
      <div class="user-picture">
        <img avatar
          referrerpolicy="no-referrer"
          [name]="user.name"
          [src]="user.avatar"
        >
      </div>

      <div class="user-name">
        {{ user.name }}
      </div>

      <div class="user-brief">
        California, Western U.S
      </div>
    </section>

    <section class="statistics" (click)="ringers()">
      <div class="statistic">
        <div>1</div>
        <div>Ringers</div>
      </div>

      <div class="seperator"></div>

      <div class="statistic">
        <div>1</div>
        <div>Ringing</div>
      </div>
    </section>

    <section class="edit-profile">
      <button raised-button (click)="profile()">
        Edit Profile
      </button>
    </section>

    <section>
      <h2>About me</h2>
      <article>
        On our first date, I'll carve our names in a tree. It's the most romantic way to let you know I have knives
        💓 Ring my alarm if you like me 💓
      </article>
    </section>

    <section>
      <h2>Interests</h2>
      <div class="chip-list">
        <div class="chip">Music</div>
        <div class="chip">Movie & TV</div>
        <div class="chip">Food</div>
        <div class="chip">Travel</div>
        <div class="chip">Sports</div>
      </div>
    </section>
  </div>
</div>
