body.light-theme {
  --color-fuschia: #f858a5;
  --color-maya: #51c3fe;
  --color-cloud: #a5b4cb;
  --text-color: #282828;
  --background-color: #ffffff;
  --card-background-color: #f9f9f9;
  --card-border-color: rgba(170, 170, 170, 0.5);
  --box-shadow-color: rgba(149, 157, 165, 0.2);
}

body.dark-theme {
  --color-fuschia: #f858a5;
  --color-maya: #51c3fe;
  --color-cloud: #a5b4cb;
  --text-color: #cdd9e5;
  --background-color: #1c2128;
  --card-background-color: #2d333b;
  --card-border-color: rgba(68, 76, 86, 0.48);
  --box-shadow-color: rgba(76, 76, 76, 0.2);
}
