@media (prefers-color-scheme: dark) {
  :root {
    --color-fuschia: #f858a5;
    --color-maya: #51c3fe;
    --color-cloud: #a5b4cb;
    --page-text-color: #cdd9e5;
    --page-background-color: #1c2128;
  }
}
