<ion-app [class.dark-theme]="dark">
  <la-splash-screen></la-splash-screen>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" class="menu">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Navigate
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item>
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Calendar</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
