.menu {
  .user-info {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }

  .user-name, .user-profile {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .user-name {
    color: #68d1f3;
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .user-profile {
    color: #7b7b7b;
  }

  .avatar {
    flex: 1 1 100%;
    max-width: 4rem;
    margin-right: 1rem;
  }

  .user {
    flex: 1 1 100%;
    overflow: hidden;
  }
}