<div class="page flex">
  <div class="page-header">
    <button icon-button ripple="#dcdcdc" (click)="close()">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.905 3.5a1.11 1.11 0 0 0-.784.323l-6.354 6.352h-.003A2.58 2.58 0 0 0 2 11.995c.007.679.28 1.327.764 1.805h.003l6.354 6.352c.285.282.561.363.83.346.27-.017.538-.148.741-.352a1.17 1.17 0 0 0 .35-.741c.015-.269-.07-.546-.356-.828l-5.509-5.475H20.89c.401 0 .654-.136.833-.337.18-.201.278-.483.278-.77 0-.288-.099-.57-.278-.77-.179-.201-.432-.338-.833-.338H5.18l5.506-5.489a1.102 1.102 0 0 0 0-1.575 1.104 1.104 0 0 0-.78-.323z"/>
     </svg>
    </button>

    <div class="page-title truncate">Peoples</div>

    <div style="width:40px;"></div>
  </div>

  <ng-template #loading>
    <div class="page-content loading-skeleton">
      <div class="skeleton avatar"></div>

      <div class="user-name">
        <div class="skeleton"></div>
        <div class="skeleton"></div>
      </div>
    </div>
  </ng-template>

  <div class="page-content" *ngIf="!(isLoading$ | async); else loading">
    <div class="segments">
      <ul>
        <li [class.active]="activeTab === 0">
          <input type="radio" name="segment" id="segment-1" value="value-1">
          <label for="segment-1" class="segment" (click)="slideTo(0)">
            Ringers
          </label>
        </li>

        <li [class.active]="activeTab === 1">
          <input type="radio" name="segment" id="segment-2" value="value-2">
          <label for="segment-2" class="segment" (click)="slideTo(1)">
            Ringing
          </label>
        </li>
      </ul>

      <div class="segment-slider" aria-hidden="true">
        <div [style.transform]="'translateX(' + (activeTab * 100) +'%)'" class="segment-slider-rect" >&nbsp;</div>
      </div>
    </div>

    <swiper
      [spaceBetween]="20"
      (swiper)="setSwiperInstance($event)"
      (slideChange)="onSlideChange($event)"
    >
      <ng-template swiperSlide>
        <ul class="list" *ngIf="ringers.length; else empty">
          <li class="list-item" *ngFor="let ringer of ringers" (click)="view(ringer)">
            <div class="list-item-content">
              <div class="list-item-image">
                <img avatar
                     referrerpolicy="no-referrer"
                     [name]="ringer.name"
                     [src]="ringer.picture" alt="">
              </div>

              <div class="list-item-text">
                {{ringer.name}}
              </div>
            </div>
          </li>
        </ul>
      </ng-template>

      <ng-template swiperSlide>
        <ul class="list" *ngIf="ringings.length; else empty">
          <li class="list-item" *ngFor="let ringing of ringings" (click)="view(ringing)">
            <div class="list-item-content">
              <div class="list-item-image">
                <img avatar
                     referrerpolicy="no-referrer"
                     [name]="ringing.name"
                     [src]="ringing.picture" alt="">
              </div>

              <div class="list-item-text">
                {{ringing.name}}
              </div>
            </div>
          </li>
        </ul>
      </ng-template>
    </swiper>
  </div>

  <ng-template #empty>
    <div class="empty">
      <img src="/assets/images/list_empty_01.svg" alt="">
    </div>
  </ng-template>
</div>