.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 300px;

  padding: 10px 16px;
  border-radius: 16px;
  background: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  &:active {
    transform: scale(0.98);
  }
}

.theme {
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #212121;
  font-weight: 500;
}

.checkbox {
  width: 24px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}
