.page-content {
  justify-content: space-between;
}

.top-content {
  width: 100%;
  flex: 1 1 100%;
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  width: 100%;
}