/* Custom Ionic components */
ion-menu::part(container) {
  justify-content: flex-start;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--page-background-color);
}

/* Swiper Js */
.swiper-slide {
  display: block;
}