/* Custom Ionic components */
ion-menu::part(container) {
  justify-content: flex-start;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--page-background-color);
}

ion-toggle {
  --background-checked: var(--color-fuschia);
}

.action-sheet {
  ion-icon {
    font-size: 26px !important;
    margin-inline-end: 10px !important;
  }

  .action-sheet-title {
    font-size: 16px;
  }

  .action-sheet-button {
    color: var(--color-fuschia) !important;
  }
}

/* Swiper Js */
.swiper-slide {
  display: block;
}
