// Default modal
ion-modal {
  .modal-shadow.sc-ion-modal-ios {
    display: none;
  }

  &::part(backdrop) {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  }

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    --height: 100% !important;
    --width: 100% !important;

    &::part(content) {
      --max-height: unset;
      --max-width: unset;
    }
  }
}

// Transparent background modal, use for camera plugin
ion-modal.transparent-modal {
  background: transparent;

  &::part(backdrop) {
    background: transparent;
  }

  &::part(content) {
    background: transparent;
  }
}

/*
* For pop-up modals and bottom drawer modals we'll use the class adaptable-modal.
* This class makes the modal-wrapper
*/
ion-modal.adaptable {
  --height: auto;

  &::part(content) {
    background-color: var(--ion-background-color);
    border-radius: 10px;
    height: unset;
    max-width: fit-content;
  }

  .ion-page {
    contain: content;
    position: unset;
  }
}

/*
* For bottom-drawer modals we'll use the class bottom-drawer
  which makes the modal align the items at the end of the page using flex.
*/
ion-modal.bottom-drawer {
  --height: auto;
  align-items: flex-end;

  &::part(content) {
    background-color: var(--ion-background-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: unset;
  }

  .ion-page {
    contain: content;
    position: unset;
  }
}

.modal-xm {
  max-width: 220px;

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    max-width: 320px;
  }
}

.modal-sm {
  max-width: 240px;

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    max-width: 360px;
  }
}

.modal-md {
  max-width: 260px;

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    max-width: 400px;
  }
}

.modal-lg {
  max-width: 280px;

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    max-width: 440px;
  }
}

.modal-xl {
  max-width: 300px;

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    max-width: 480px;
  }
}