.page {
  min-width: 260px;
}

.page-content {
  padding: 0;
}

ul.list {
  margin: 16px 0;

  .list-item-content {
    margin: 0;
    padding: 8px 24px;
  }

  li.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}